<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/home.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
</head>

<body>

    <%- include('./partials/nav') %>


        <div class="top">
            <img src="images/banner.png">
        </div>

        <div class="products">
            <% products.forEach(function(product) { %>

                <div class="product">
                    <a href="/products/<%= product._id %>">
                        <div class="product-img">
                            <img src="<%=product.imageUrl %>" />
                        </div>
                    </a>

                    <div class="product-details">
                        <div class="product-name-price">
                            <div class="product-name">

                                <%=product.name %>
                            </div>


                            <div class="product-price-container">
                                <div class=" product-price">
                                    $<%= product.price %>
                                </div>

                                <a href="#"><img src="/images/shopping-bag.png" alt="" /></a>

                            </div>
                        </div>

                        <!-- <div class="product-desc">
                                <% var truncatedDesc=product.description.substring(0, 100);
                                    truncatedDesc=truncatedDesc+"..."; %>
                                    <%= truncatedDesc %>
                            </div> -->



                    </div>
                </div>

                <% }); %>

        </div>

        <%- include('./partials/footer') %>



</body>


</html>