<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/cart.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <%- include('../partials/nav') %>

        <div class="main">
            <div class="welcome">
                Welcome,<%= user.username %>
                    <div class="Total">
                        <% var total=0; %>
                            <% cart.forEach(element=> { %>
                                <% total +=element.product.price * element.quantity; %>
                                    <% }); %>
                                        <a>Total Items: <%= cart.length %></a>
                                        <a href="/checkout/<%= user._id  %>">Checkout: $<%= total %></a>
                    </div>
            </div>

            <div class="cart-container">
                <div class="cart-heading">
                    <span>Item</span>
                    <span>Description</span>
                    <span>Quantity</span>
                    <span>Shipping</span>
                    <span>Price/unit</span>
                </div>
                <% if(cart.length>0) {%>
                    <% cart.forEach(element=> {%>

                        <div class="cart-item">
                            <div class="cart-item-child-1 cart-item-child">
                                <div>
                                    <img src=<%=element.product.imageUrl%>
                                    alt="">
                                </div>
                                <div>
                                    <div class="item-name">
                                        <span>
                                            <a href="/products/<%=element.product._id%>">
                                                <%=element.product.name%>
                                            </a>
                                        </span>
                                        <span class="unit-left">
                                            <%= element.product.quantity %> units left
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="cart-item-child desc">
                                <%=element.product.description%>
                            </div>

                            <div class="cart-item-child">
                                <%=element.quantity%>
                            </div>

                            <div class="cart-item-child">
                                Delivery
                            </div>

                            <div class="cart-item-child">
                                $<%=element.product.price%>
                            </div>
                        </div>
                        <% }); %>
                            <% } else{%>
                                <br>
                                <p>No items in the cart</p>

                                <%} %>
                                    %>
            </div>

        </div>



        </div>
</body>

</html>