<!-- bill.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>Checkout Bill</title>
    <link rel="stylesheet" href="/css/checkout.css">
</head>

<body>
    <div>
        <a href="/">Back to Products</a>
        <h1>Checkout Bill</h1>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price/unit</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <% let total=0; %>
                    <% for (const item of items) { %>
                        <tr>
                            <td>
                                <%= item.product.name %>
                            </td>
                            <td>
                                <%= item.quantity %>
                            </td>
                            <td>$<%= item.product.price.toFixed(2) %>
                            </td>
                            <td>$<%= (item.quantity * item.product.price).toFixed(2) %>
                            </td>
                            <% total +=item.quantity * item.product.price; %>
                        </tr>
                        <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <td class="total">$<%= total.toFixed(2) %>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>

</html>