<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/show.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/stars.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/base.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
</head>


<body>
    <%- include('../partials/nav') %>

        <div class="product">

            <div class="left">
                <div class="left-image">
                    <img src="<%= product.imageUrl %>" />
                </div>
            </div>

            <div class="right">
                <div class="right-button">
                    <a href="/"><i class="fa-solid fa-chevron-left"></i> &nbsp;Back</a>
                </div>
                <div class="right-title">
                    <%= product.name %>
                </div>
                <div class="right-price">
                    <p>
                        $ <%= product.price %> or <%= Math.round(((product.price)/6)*100)/ 100 %> /month
                    </p>
                </div>
                <div class="right-description">
                    <p class="desc">
                        <%= product.description %>
                    </p>
                    <div class="category-container">
                        <p class="category-heading">
                            Category
                        </p>
                        <p class="category">
                            <%= product.category %>
                        </p>
                    </div>
                </div>
                <div class="rating">
                    <fieldset class="starability-coinFlip">
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" checked />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>

                    <div class="no-rating">(121)</div>
                </div>
                <div class="product-count">
                    <div class="product-count-title">
                        <p>Available Quantity: <%=product.quantity %>
                        </p>
                        <br>
                        <p>
                            <% if(no_of_people>0){%>
                                <%= no_of_people %> people have this item in their cart
                                    <% } %>
                        </p>
                    </div>
                    <!-- <div class="product-count-buttons">
                        <button class="product-count-button" id="minus">-</button>
                        <input type="text" id="count" value="1" />
                        <button class="product-count-button" id="plus">+</button>
                    </div> -->
                </div>



                <div class="buy-cart">
                    <button class="fav-product" id="fav-product"> <i class="fa-regular fa-heart"></i>Add to
                        Favorites</button>

                    <% if(currentUser){%>

                        <form action="/cart/<%= currentUser._id %>/<%= product._id%>" method="post" class="add-to-cart">
                            <select name="quantity" id="quantity">
                                <% for(var i=1;i<=product.quantity/2;i++){ %>
                                    <option value="<%=i%>">
                                        <%=i%>
                                    </option>
                                    <% } %>
                            </select>
                            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                        </form>
                        <%} %>



                            <% if(currentUser && currentUser.username=="Admin" ){ %>

                                <a href="/products/<%= product._id%>/edit">
                                    <div class="edit">
                                        <i class="fa-solid fa-pen-to-square "></i>
                                    </div>
                                </a>

                                <form method="post" action="/products/<%= product._id%>?_method=DELETE">
                                    <button class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                                <% } %>

                </div>



            </div>
        </div>

        <%- include('../partials/footer') %>



</body>

</html>