<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    body {
        background-color: #f5f5f5;
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    h1 {
        text-align: center;
        margin: 40px 0;
    }

    .product {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        margin: 0 auto 20px;
        max-width: 600px;
    }

    img {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        display: block;
        mix-blend-mode: multiply;

    }

    a {
        display: block;
        text-align: center;
        margin: 20px 0;
        color: #333;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<body>
    <div class="product">
        <img src="<%= product.imageUrl %>" />
        <h1>
            <%= product.title %>
        </h1>
        <p>
            <%= product.description %>
        </p>
        <p>
            <%= product.price %>
        </p>
        <p>
            <%= product.category %>
        </p>
        <a href="/products">Back</a>
    </div>

</body>

</html>